body
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	background: #222222;
}

.container
{
	width:900px;
	margin: 15px auto;
	padding:50px 30px 10px 30px;
	background: #CC6699; /* change this to change background color */
	line-height: 23px;
	border:1px solid #000;
	border-radius: 10px 10px;
	overflow:hidden;
}

#review
{
	float:right;
	width:200px;
	height:45px;
}

#pgLength
{
	float:left;
	width: 229px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	margin: 2px 0 0 4px;
}

#pgQuantity
{
	float:left;
	width: 229px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	margin: 2px 0 0 4px;
}

#wlatin:hover{
	cursor:pointer;
}

.chboxl{
	display: inline;
	text-align:left;
	float:left;
	width: 220px;
	margin:0;
	padding:0;
	height:27px;
}

.chboxr{
	display: inline;
	text-align:left;
	float:left;
	width: 500px;
	margin:0;
	padding:0;
	height:27px;
}

.chboxr2{
	display: inline;
	text-align:left;
	float:left;
	width: 550px;
	margin:0;
	padding:0;
	min-height:27px;
}

#genbtn:hover {
	background-position: 0 -38px;
}
#genbtn:active {
	background-position: 0 -76px;
	position: relative;
}

#sec_options
{
	width: 750px;
	float: left;
	margin: 0 0 10px 0;
	padding: 2px 100px 2px 50Px;
}

#sec_btn
{
	width:800px;
	margin: 0 0 0 0;
	text-align:left;
	padding:0px 50px 5px 50px;
	float:left;
}

#sec_password
{
	width:800px;
	margin: 10px 0 0 0;
	text-align:left;
	padding:0px 50px 10px 50px;
	float:left;
}

p
{
	margin:0;
	padding:0;
	line-height: 27px;
	text-indent: 0px;
}

.txt_password
{
	width: 560px;
	min-height: 30px;
	line-height: 19px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	color: #006020;
	padding: 0 0 0 5px;
}

.txt_options
{
	width: 270px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	padding: 0 0 0 5px;
	letter-spacing: 2px;
}

.GenerateBtn
{
	margin: 0 5px 5px 220px;
	padding: 0 0 0 0;
	width: 185px;
	height:35px;
	line-height:35px;
	font-size: 14px;
}

.ProxyBtn
{
	margin: 0 5px 5px 12px;
	padding: 0 0 0 0;
	width: 185px;
	height:35px;
	line-height:35px;
	font-size: 14px;
}

.button
{
	float:left;
	text-align: center;
	cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    font-family: arial, sans-serif;
	color: #333;

		/* change this to change buttons color*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #FFCCFF 0%,#FF99FF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFCCFF), color-stop(100%,#FF99FF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFCCFF 0%,#FF99FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFCCFF 0%,#FF99FF 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FFCCFF 0%,#FF99FF 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCCFF', endColorstr='#FF99FF',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #FFCCFF 0%,#FF99FF 100%); /* W3C */

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);

	border: 1px #CC0066 solid;
}

.button:hover
{
    border: 1px #990066 solid;
}

.GenerateBtn:active
{
	margin: 1px 4px 4px 221px;
}
